<!-- Pagination links -->
<div class="pagination">
<!-- post page -->
{% if include.param == 'post'%}
	{% if page.previous %}
	<a class="previous" href="{{ page.previous.url }}">&lt;&lt; {{ page.previous.title | truncatewords:5 }}</a>
	{% endif %}
	{% if page.next %}
	<a class="next" href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }} &gt;&gt;</a>
	{% endif %}
{% else %}
<!-- index page -->
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a href="/" class="previous">&lt;&lt;Back</a>
		{% else %}
		<a href="/page{{paginator.previous_page}}" class="previous">&lt;&lt; Back</a>
		{% endif %}
	{% endif %}
	{% if paginator.next_page %}
	<a href="/page{{paginator.next_page}}" class="next ">Next &gt;&gt;</a>
	{% endif %}
{% endif %}
</div>